.container {
    padding: 100px;
    color:bisque;
    font-size: 2em;
    font-family: sans-serif;
    text-shadow: 2px 2px 0px black;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    background-color: #222222;
    background-image: url(https://picsum.photos/536/354);
    background-size: cover;
    background-repeat:repeat;
    background-position:center center;
  }
   
  .container .wrong {
    text-decoration: line-through;
    background-color: #884209;
    color:black;
    font-style: italic;
  }